*{
    padding: 0;
    margin: 0;
}

.contenedor-imagem{
    position: relative;
    display: inline-block;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.contenedor-imagem img {
    width: 300px;
    height: auto;
    transition: all 0.5s ease;
}

.descricao-oculta{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    opacity: 0;
}

.contenedor-imagem:hover .descricao-oculta {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#imagem1:hover img{
    cursor: pointer;
    transform: scale(1.2);
}
#imagem2:hover img{
    cursor: pointer;
    transform: rotateY(180deg);
}
#imagem3:hover img{
    cursor: pointer;
    animation: hearBeat 0.8s infinite;
}

@keyframes hearBeat {
    0%, 100% {
        transform: scale(1);
        filter: brightness(100%);
    }
    25%, 75% {
        transform: scale(1.4);
        filter: brightness(80%);
    }
    50% {
        transform: scale(1.1);
        filter: brightness(100%);
    }
}

#imagem4 img {
    transition: transform 0.5s ease, top 0.5s ease, left 0.5s ease;
    cursor: pointer;
}

#imagem4:hover img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: none;
    z-index: 1000;
}

#imagem5 img{
   transition: transform 0.6s ease-out;
   transform-origin: center;
}

#imagem5:hover img {
    animation: rotateTriple 2s forwards;
}

@keyframes rotateTriple {
    0% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(1080deg);
    }
    100% {
        transform: rotate(0deg);
    }
}